{% extends 'blog/base.html' %}
{% block content %}
            {% for post in posts %}
                <div class="post">
                    
					<!–– {% url 'post_detail' pk=post.pk %} ––>
                    <h1><a href="{{ post.url_adres_article }}"  target="_blank">{{ post.title }}</a></h1>
                    <img src="{{ post.image }}" height="200" width="200"> 
                    <p>{{ post.text|linebreaksbr }}</p>
					<div class="date">
                        <p>Опубликовано: {{ post.published_date }}</p>
                    </div>
                </div>
            {% endfor %}
{% endblock %}